/* 
ESTE ES EL ESTILO DEL ID CUERPO
*/
#cuerpo{
    font-weight: bold;
    color: blueviolet;
}
.final{
    color: green;
    font-size: 45px;
}

/*
ESTILOS PARA DISEÑO MOVIL
*/


/*
ESTILOS DISEÑO WEB 
*/
